@page "/course-group/test"
@using ECourse.Admin.Models.CourseAPI.CourseGroup
@using ECourse.Admin.Service.CourseAPI
@using Newtonsoft.Json
@inject ICourseGroupService _courseGroupService
<h3>Test</h3>
<h1>Main</h1>
@code {

    
}
