@page "/courselevel/add"
@using ECourse.Admin.Service.CourseAPI
@using ECourse.Admin.Utility
@inject IAlertService _alertService;
@inject ICourseLevelService _courseLevelService;
@inject NavigationManager navManager
@rendermode InteractiveServer

<Form pagetitle="Create New Item" model="@model" loading="@loading" OnValidSubmit="@Submit"></Form>
@* <button type="button" onclick="@testclick()" class="btn btn-success">Test me</button> *@
@code {
    public bool loading { get; set; } = false;
    CourseLevelDto model = new CourseLevelDto();

    async Task Submit()
    {
        try
        {
            loading = true;
            var result = await _courseLevelService.CreateAsync(model);
            if (result != null && result.IsSuccess)
            {
                loading = false;
                _alertService.Success("Save successfully", keepAfterRouteChange: true);
                navManager.NavigateTo("/courselevel/index");
            }
        }
        catch (Exception ex)
        {
            _alertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }

    }
    async Task testclick()
    {
        _alertService.Success("Save successfully", keepAfterRouteChange: true);
    }
}
